DB_USER=sf_search
DB_PASSWORD=sf_search_dev_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sf_search

POSTGRES_DB=sf_search
POSTGRES_USER=sf_search
POSTGRES_PASSWORD=sf_search_dev_password
POSTGRES_PORT=5432

NATS_URL=nats://localhost:4222
NATS_PORT=4222
NATS_MONITOR_PORT=8222
PANO_DOWNLOAD_STREAM=PANO_DOWNLOADS
PANO_DOWNLOAD_SUBJECT=pano.download.requested
PANO_PROCESSING_STREAM=PANO_PROCESSING
PANO_PROCESSING_SUBJECT=pano.processing.requested
PANO_DOWNLOADER_CONSUMER=pano-downloader
PANO_DOWNLOAD_CONCURRENCY=5
PANO_DOWNLOAD_STORAGE_DIR=.local/panoramas
MAX_PROCESSING_QUEUE_DEPTH=50
