__pycache__/
*.pyc
*.pyd
*.pyo
*.swp

venv/
.venv/
env/
.env/
.env

.Python
build/
dist/
*.egg-info/
.eggs/

.coverage
.tox/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.mine

.DS_Store
Thumbs.db

.ipynb_checkpoints

*.log
*.sqlite3gitignore
